doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/any-wizard.css')
    link(href='https://fonts.googleapis.com/css?family=Astloch|Elsie+Swash+Caps|Macondo+Swash+Caps|Open+Sans' rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
  body
    header(class='header')
      img(src='images/logo2.svg' alt=title)
    article
      section
        block content
    script(src='/javascript/any-wizard.js')
